<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>스팀잇 통계</title>
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- IE8 에서 HTML5 요소와 미디어 쿼리를 위한 HTML5 shim 와 Respond.js -->
    <!-- WARNING: Respond.js 는 당신이 file:// 을 통해 페이지를 볼 때는 동작하지 않습니다. -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
      .navbar-brand .material-icons {
          vertical-align: sub;
      }
      .content {
        padding-top: 20px;
      }
      .chart {
        width: 50%!important;
      }
      #stat, #progress {
        display: none;
      }
      /* #message {
        text-align: center;
      } */
      img.profile {
        border-radius: 2rem!important;
        width: 32px;
        height: 32px
      }
      [v-cloak] {
        display: none;
      }
      </style>
  </head>
  <body>
    <div>
      <nav class="navbar navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="#"><i class="material-icons">poll</i> 스팀잇 보팅 통계</a>
        </div>
      </nav>
      <div class="container content">
        <form class="form-inline" onsubmit="return !loadStat()">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">@</span>
            </div>
            <input type="text" class="form-control" placeholder="Username" id="username" aria-label="Username" aria-describedby="basic-addon1">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="loadStat()">조회</button>
            </div>
          </div>
          <!-- <button type="submit" class="btn btn-primary mb-2">조회</button> -->
        </form>

        <div id='progress' class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" 
            aria-valuenow="100"
            aria-valuemin="0" 
            aria-valuemax="100" 
            style="width: 100%">글 가져오는 중...</div>
        </div>
        <!-- <div id='message'></div> -->

        <div id="stat">
          <div class="row">
            <div class="col-sm">
              <div class='card'>
                <canvas id="timeStat"'></canvas>
              </div>
            </div>
            <div class="col-sm">
              <div class='card'>
                <canvas id="dayStat"'></canvas>
              </div>
            </div>
          </div>

          <div class="row" style="margin-top: 1rem;">
            <div class="col-sm">
              <div class='card'>
                <canvas id="monthStat"'></canvas>
              </div>
            </div>
            <div class="col-sm">
              
            </div>
          </div>

          <div class='card' style="margin-top: 1rem;">
            <canvas id="voterStat"'></canvas>
          </div>

        </div>

        <div id="app" v-cloak>
          <div class="row" style="margin-top: 1rem;">
            <div class="col-sm">
              <div class='card' v-if="voters.length">
                <div class="card-header">
                  친구들 보팅 순위
                </div>
                
                <ul class="list-group list-group-flush">
                  <li class="list-group-item" v-for="(voter, index) in voters" :key="voter.name">
                    #{{index + 1}}
                    <img class="mr-3 profile" :src="'https://steemitimages.com/u/' + voter.name + '/avatar/small'" :alt="voter.name">
                    <a :href="'https://steemit.com/@' + voter.name" onclick="return !window.open(this.href)">@{{voter.name}}({{voter.reputation}})</a>
                    ‧ {{voter.count}} 보팅 
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-sm"></div>
          </div>
        </div>
      </div>
    </div>
    
    <script src="//code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="//stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.min.js"></script>
    <script src="//cdn.steemjs.com/lib/latest/steem.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/vue"></script>
    <script src="./src/app.js"></script>
    <script>
      const app = new Vue({
        el: '#app',
        data() {
          return {
            voters: []
          }
        }
      })

      const weekLabel = ['일', '월', '화', '수', '목', '금', '토'];
      const username = document.getElementById('username')
      // const message = document.getElementById('message')
      const state = document.getElementById('state')
      const progress = document.getElementById('progress')

      username.value = window.localStorage.getItem('username') || ''
  
      
      function loadStat() {
        if(!username.value) {
          alert('username를 입력하세요.')
          return !username.focus();
        }

        const query = {
          tag: username.value,
          limit: 100
        }
        progress.style.display = '-webkit-box'
        // message.innerHTML = '글 가져오는 중...'

        steem.api.getDiscussionsByBlogAsync(query).then(r => {
          window.localStorage.setItem('username', username.value)

          console.log(r)

          // console.log(r)
          const timeStat = {}
          const dayStat = {}
          const monthStat = {}
          const voterStat = {}

          const replyStat = {}

          // message.innerHTML = '통계 계산 중...'
          r.forEach(item => {
            //console.log(e.active_votes);
            // 시간대별 보팅 비율
            return item.active_votes.forEach(vote => {
              const time = new Date(`${vote.time}Z`)

              const hour = time.getHours()
              if(!timeStat[hour]) timeStat[hour] = 0
              timeStat[hour] += 1

              const day = time.getDay()
              if(!dayStat[day]) dayStat[day] = 0
              dayStat[day] += 1

              const year = time.getFullYear().toString()
              const month = `0${(time.getMonth() + 1)}`.slice(-2)
              const key = `${year}${month}`
              if(!monthStat[key]) monthStat[key] = 0
              monthStat[key] += 1

              // 나틑 제외할 것
              // console.log(vote)
              const { voter, reputation } = vote
              // console.log(voter)
              if(query.tag !== voter) {
                if(!voterStat[voter]) voterStat[voter] = { count: 0, reputation: steem.formatter.reputation(reputation) }
                voterStat[voter].count += 1
              }

              // children
            })
          });
          // console.log(timeStat)
          // console.log(dayStat)
          // console.log(monthStat)
          // console.log(voterStat)
        
          // 시간대별 통계
          randerChart({
            context: "timeStat",
            labels: _.map(_.keys(timeStat), (e) => (`${e}시`)),
            label: '보팅수',
            data: _.values(timeStat),
            title: '시간대별 보팅수',
            // xLabel: '시간',
            // yLabel: '보팅수'
          });

          // 요일별 통계
          randerChart({
            context: "dayStat",
            labels: _.map(_.keys(dayStat), (e) => (`${weekLabel[e]}요일`)),
            label: '보팅수',
            data: _.values(dayStat),
            title: '요일별 보팅수',
            // xLabel: '요일',
          });

          // 월별 통계
          randerChart({
            context: "monthStat",
            labels: _.map(_.keys(monthStat), (e) => (`${e.replace(/(\d{4})(\d{2})/g, "$1-$2")}`)),
            label: '보팅수',
            data: _.values(monthStat),
            title: '월별 보팅수',
            // xLabel: '월',
          });
        
          // 친구들 통계
          _.forEach(voterStat, function(v, k) {
            if(v <= 1) {
              delete voterStat[k]
            }
          });
          randerChart({
            context: "voterStat",
            labels: _.keys(voterStat),
            label: '보팅수',
            data: _.map(_.values(voterStat), (e) => (e.count)),
            title: '친구들 보팅수',
            // xLabel: '친구',
          });

          app.voters = Object.keys(voterStat).map(key => ({ name: key, ...voterStat[key] })).sort((a, b) => (b.count - a.count)).slice(0, 100);
          // console.log(counterPerVoter)

          progress.style.display = 'none'
          // message.innerHTML = ''
          stat.style.display = 'block'
        })
        .catch(err => alert(err))
        // .finally(() => (message.innerHTML = ''))
        // 팔로우별 보팅수
        // 게시글별 보팅 금액
        // //steemit.com/kr/@jisoooh0202/7tqsep
      }
    </script>
  </body>
</html>
