@import url('://fonts.googleapis.com/earlyaccess/nanumgothic.css');
@import url('://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css');

* {
  font-family: 'Nanum Gothic';
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Nanum Gothic';
  margin-top: 50px;
  text-transform:uppercase;
}

h2 {
 font-family: 'Nanum Gothic';
}

code {
  font-family: 'Nanum Gothic Coding','Bitstream Vera Sans Mono','Courier', monospace !important;
}
